* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.main {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #3e3c3dfa, #44325bfa);
    border-radius: 7.5px;
}

.btn, .card, button, .theme, .widget, .switch, .widget-slide, .close {
    -webkit-app-region: no-drag;
}

.sidebar {
    height: 100%;
    background-color: #242324ff;
    width: 60px;
    border-radius: 7.5px 0 0 7.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    float: left;
}

.sidebar-container {
    display: flex;
    height: 175px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tab-icon {
    color: #d0ced1ff;
    font-size: 20px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    transition: color 0.5s, background-color 0.5s;
    background-color: #242324ff;
    cursor: pointer;
}

.octos-icon {
    width: 32px;
}

.icon-active {
    color: #242324ff !important;
    background-color: #d0ced1ff !important;
}

.content {
    --fac: 0.9;
    padding-left: calc(55px*var(--fac));
    padding-top: calc(25px*var(--fac));
    float: right;
    width: calc(100% - 60px);
    height: 100%;
    transform: scale(var(--fac));
    transform-origin: top left;
}

.tab {
    display: none;
    width: 100%;
    height: 100%;
}

.tab-active {
    display: block;
}

.column {
    height: 100%;
    float: left;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #ffffffc0;
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 30px;
}

.cards {
    display: grid;
    gap: 20px 15px;
    width: 580px;
    grid-template-columns: min-content;
}

.cards-contatiner {
    height: 100%;
    overflow-y: auto;
}

.card {
    position: relative;
    width: calc(1920px/6.9);
    height: calc(1080px/6.9);
    background-color: #006040ff;
    border-radius: 12px;
    box-shadow: 0 5px 10px 5px #00000011;
    cursor: pointer;
    transition: transform 0.1s;
}

.card-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    margin-top: calc(1080px/6.9 - 35px);
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    background-color: #10101240;
    border-radius: 0 0 12px 12px;
}

.card-title {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.card-author, .card-options, .card-download {
    font-family: 'Roboto', sans-serif;
    color: #ffffff80;
    font-size: 14px;
    font-weight: normal;
}

.card-options {
    font-size: 18px;
}

.card-download {
    position: absolute;
    font-size: 18px;
    top: 10px;
    right: 10px;
}

.add-card {
    display: block;
    height: 100px;
    border: 3px solid #c9c9c9ff;
    color: #c9c9c9ff;
    background-color: transparent;
    grid-column-start: 0;
    grid-column-end: 1;
    text-align: center;
    line-height: 100px;
    font-size: 32px;
    cursor: pointer;
    box-shadow: none;
}

.card:active {
    transform: scale(0.99);
}

.card-active, .theme-active {
    outline: 3px solid #ffc080ff;
}

.card-active {
    transform: scale(0.98);
}

.card-active:active {
    transform: scale(0.98);
}

button {
    background-color: #907090ff;
    border-radius: 8px;
    height: 40px;
    width: 190px;
    text-align: right;
    padding: 0 18px 0 12px;
    color: #ffffffc0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: none;
    outline: none;
    box-shadow: 0 5px 5px 5px #57425711;
    cursor: pointer;
    transition: transform 0.1s, filter 0.1s;
}

button:active {
    transform: scale(0.99);
    filter: brightness(0.9);
}

button i {
    float: left;
    font-size: 16px;
}

.out-buttons {
    position: absolute;
    display: flex;
    width: fit-content;
    flex-direction: column;
    margin-top: 22px;
    gap: 10px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #ffffffa0;
}

.themes {
    display: flex;
    width: 100%;
    height: 35px;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

.widgets {
    position: relative;
    width: 900px;
    height: 300px;
    overflow: hidden;
}

.widget-slide-content {
    position: absolute;
    padding: 18px;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    transform: translateX(-900px) scale(0.8);
    transition: transform 0.5s cubic-bezier(0, 1, 0, 1), opacity 0.5s;
    opacity: 0.5;
}

.widget-slide-content-active {
    transform: translateX(0) scale(1) !important;
    opacity: 1;
}

.widget-slide-content-active~.widget-slide-content {
    transform: translateX(900px) scale(0.8);
    opacity: 0.5;
}

.theme {
    width: 40px;
    height: 40px;
    background-color: #006040ff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 2px 4px 2px #00000011;
}

.widget {
    position: relative;
    border: 3px solid #c9c9c9ff;
    color: #c9c9c9ff;
    border-radius: 12px;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.widget:hover {
    transform: rotate(-2deg) scale(0.97);
}

.widget-name {
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.add-widget {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 24px;
}

.widget-slide {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 125px;
    border-radius: 50%;
    transition: transform 0.1s;
    color: #ffffff;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    pointer-events: all;
}

.prev-widget-slide {
    left: -20px;
}

.next-widget-slide {
    right: -20px;
}

.widget-slide:active {
    transform: scale(0.95);
}

.settings-card {
    position: relative;
    background-color: #90709070;
    width: 550px;
    height: fit-content;
    padding: 18px 24px;
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
}

.settings-card-title {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #ffffffc0;
}

.settings-card-title > h2 {
    font-weight: 500;
    margin-top: 6px;
    margin-bottom: -8px;
    font-size: 20px;
    color: #ffffffc0;
}

.settings-card-title > p {
    font-weight: normal;
    font-size: 15px;
    color: #ffffffa0;
    margin-top: 12px;
    margin-bottom: 20px;
    width: 300px;
}

.settings-card-image {
    float: right;
    margin-top: auto;
    margin-bottom: auto;
}

.settings-entry {
    width: 100%;
    background-color: #00002220;
    margin: 8px 0;
    padding: 15px 20px;
    border-radius: 12px;
    height: 100px;
}

.settings-entry > h3 {
    float: left;
    font-weight: 500;
    margin: 4.5px 0;
    font-style: italic;
    color: #ffffffc0;
    font-size: 16px;
}

.settings-entry > p {
    float: left;
    margin: 2px 0;
    color: #ffffffa0;
    width: 300px;
    font-size: 14px;
}

.settings-entry > .switch {
    float: right;
    margin-right: 32px;
    margin-top: -4px;
}

.settings {
    margin-bottom: 16px;
}

.close {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #ffffffc0;
    cursor: pointer;
    transition: color 0.5s;
    font-size: 24px;
}

.close:hover {
    color: rgb(255, 95, 95);
}