<?xml version="1.0" encoding="UTF-8"?>
<?define AssetsDir="assets"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="Octos" Language="1033" Version="1.0.0.0" Manufacturer="underpig"
        UpgradeCode="1804c5cf-18f7-46de-a1ca-4df940ca7e0d">

        <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

        <!-- Previous installation folder search -->
        <Property Id="INSTALLFOLDER">
            <RegistrySearch Id="InstallFolderSearch" Root="HKLM" Key="Software\Octos"
                Name="InstallDir" Type="directory" />
        </Property>

        <!-- Directory structure -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="Octos">
                    <Component Id="MainExecutable" Guid="b6e59565-33a6-4039-ad16-1185672fb8a1">
                        <File Source="build\Release\Octos.exe" KeyPath="yes" />
                    </Component>
                    <Directory Id="AssetsDir" Name="assets" />
                </Directory>
            </Directory>
        </Directory>

        <!-- Features -->
        <Feature Id="MainFeature" Title="Octos" Level="1">
            <ComponentRef Id="MainExecutable" />
            <ComponentGroupRef Id="AssetsComponents" />
            <ComponentRef Id="AddToPathComponent" />
        </Feature>

        <!-- PATH environment addition -->
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="AddToPathComponent" Guid="*">
                <Environment Id="PathEnvironment" Name="PATH" Value="[INSTALLFOLDER]"
                    Permanent="yes"
                    Part="last" Action="set" System="yes" Condition="ADD_TO_PATH=1" />
            </Component>
        </DirectoryRef>

        <!-- UI -->
        <UI>
            <UIRef Id="WixUI_InstallDir" />
            <Dialog Id="CustomizeDlg" Width="370" Height="270" Title="Octos Setup">
                <Control Id="AddPathCheckbox" Type="CheckBox" X="20" Y="150" Width="330" Height="20"
                    Text="Add Octos to PATH environment variable" Property="ADD_TO_PATH"
                    CheckBoxValue="1" />
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="60" Height="17"
                    Default="yes" Text="Next">
                    <Publish Event="EndDialog" Value="Return">1</Publish>
                </Control>
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="50" Height="17"
                    Text="Back">
                    <Publish Event="NewDialog" Value="WelcomeDlg">1</Publish>
                </Control>
            </Dialog>
        </UI>

        <MajorUpgrade DowngradeErrorMessage="A newer version of Octos is already installed." />
        <MediaTemplate EmbedCab="yes" />
    </Product>
</Wix>