* {
    box-sizing: border-box;
}

:root {
    --accent: #e52e2eff;
    --sidebar-width: 250px;
    --default-sidebar-width: 215px;
    --card-width: 248px;
    --default-card-width: 200px;
    --input-width: 100%;
    --transition-speed: 0.3s;

    --body-color: #1a1a1a;
    --light-body-color: #2d2d2d;
    --checkmark-color: var(--accent);
    --nav-accent-color: var(--accent);
    --button-color: #212121;
    --button-hover-color: #0f0f12;
    --button-border-color: #5b5b5b;
    --secondary-button-color: #212121;
    --secondary-button-hover-color: #0f0f12;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color-scheme: only light dark;
    image-rendering: auto;
}

.main {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
    /* border-radius: 10px;
    border: 2px solid #323232ff; */
    /* box-shadow: 0 5px 10px #0000005b; */
    grid-template-columns: 70px auto 190px;
    grid-template-rows: 50px auto 60px;
    /* width: 100%;
            height: 90%; */
}

.topbar {
    display: flex;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    align-items: center;
    z-index: 3;
    border-radius: inherit;
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
    background-color: var(--body-color);
}

.nav {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.content {
    position: relative;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    margin-left: 5px;
}

.footer {
    display: flex;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    z-index: 3;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    border-radius: inherit;
    background-color: inherit;
}

.nav>.nav-item {
    display: flex;
    width: 45px;
    height: 42px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    z-index: 2;
    cursor: pointer;
    transition: opacity 0.1s ease, transform 0.1s ease;
}

.nav-item>img {
    height: 22px;
}

.nav-item:active {
    opacity: 0.7;
}

.nav-highlight {
    --nav-active: 1;
    position: relative;
    width: 45px;
    height: 0;
    top: calc(var(--nav-active) * 52px);
    transition: top var(--transition-speed);
}

.nav-highlight::after {
    display: block;
    content: "";
    width: 45px;
    height: 42px;
    background-color: var(--light-body-color);
    border-radius: 2px;
}

.nav-highlight>.nav-accent {
    position: absolute;
    left: 44px;
    height: 0;
    top: 10px;
}

.nav-highlight>.nav-accent::after {
    display: block;
    content: "";
    height: 22px;
    width: 2px;
    border-radius: 9px;
    background-color: var(--nav-accent-color);
}

#title {
    margin-left: 75px;
    opacity: 1;
    transition: opacity 0.2s;
    pointer-events: none;
}

.win-contain {
    display: flex;
    width: 130px;
    height: 32px;
    margin-left: auto;
    margin-right: 10px;
    justify-content: space-between;
    align-items: center;
}

.win-contain>.win {
    display: flex;
    height: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.1s;
    -webkit-app-region: no-drag;
}

.win:hover {
    background-color: #2d2d2dff;
}

.win>img {
    width: 10px;
    height: min-content;
    filter: brightness(2);
}

.scrollbox {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - var(--sidebar-width));
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 15px 5px;
    padding-right: 15px;
    padding-top: 5px;
}

.card {
    position: relative;
    /* width: var(--card-width);
    height: calc(var(--card-width)/248*150); */
    aspect-ratio: 16 / 9;
    /* margin: 5px 5px; */
    float: left;
}

.card-content {
    /* position: relative; */
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: #2d2d2dff;
    box-shadow: 0 1px 10px #00000055;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    transition: transform 0.1s ease;
    transform-style: preserve-3d;
}

.card.loading>.card-content {
    transform: scale(0.9) !important;
    clip-path: inset(-1px);
    opacity: 0.5;
}

.card.loading>.card-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-75%);
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.5) 25%,
            rgba(255, 255, 255, 0) 50%,
            rgba(255, 255, 255, 0.5) 75%,
            rgba(255, 255, 255, 0) 100%);
    animation: sheen 1s ease-out infinite;
}

@keyframes sheen {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(125%);
    }
}

.card-info {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0;
    height: 36px;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-color: #000000aa;
    font-size: 13px;
    border-radius: 0 0 2px 2px;
}

.card-title, .card-author {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card-info>.card-title {
    color: #ffffffff;
    font-weight: 500;
}

.card-info>.card-author {
    color: #ffffffc2;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #2d2d2dff;
    border-radius: 999px;
}

.scroll-shadow {
    position: relative;
    background-color: #0000003c;
    filter: blur(5px);
    grid-column: 2 / 3;
    opacity: 0;
    transition: opacity var(--transition-speed);
    z-index: 2;
    margin-right: calc(var(--sidebar-width) - 175px);
}

.card .checkmark,
.card .downloaded {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 10px;
    opacity: 0;
    transition: opacity var(--transition-speed);
    border-radius: 999px;
    border: 1px solid var(--button-border-color);
    background-color: var(--button-color);
    box-shadow: 0 2px 2px #00000011;
    background-image: url('img/white-arrow-down.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}

.card.selected .checkmark,
.card.installed .downloaded {
    opacity: 1;
}

.card.focused .card-content {
    outline: 1.01px solid var(--accent);
}

.indicator-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    top: 10px;
    right: 10px;
    align-items: flex-end;
    ;
}

.monitor-indicator {
    position: relative;
    padding: 2px 10px;
    border-radius: 999px;
    display: inline;
    color: white;
    font-weight: 400;
    font-size: 8pt;
    width: min-content;
    box-shadow: 0 2px 2px #00000011;
    border: 1px solid var(--button-border-color);
    background-color: var(--button-color);
    transition: padding-left 0.2s ease;
}

.monitor-indicator::after {
    content: '';
    opacity: 0;
    transition: opacity 0.2s ease;
}

.monitor-indicator:hover::after {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    content: '';
    width: 20px;
    height: 100%;
    background-position: center center;
    color: var(--button-color);
    background-image: url(img/exit.png);
    background-repeat: no-repeat;
    background-size: 7px;
    filter: brightness(2);
    opacity: 1;
}

.monitor-indicator:hover {
    padding-left: 20px;
}

.tab-content {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    transition: transform var(--transition-speed), opacity var(--transition-speed);
}

.tab-content.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: inherit;
}

.sidebar {
    width: var(--sidebar-width);
    height: 100%;
    float: right;
    padding: 10px;
    padding-bottom: 0;
}

.footer-icon {
    opacity: 0.5;
    height: 24px;
    margin-bottom: 5px;
}

.footer>.action-icons {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action-icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.action-icon:active {
    opacity: 0.5;
    transform: scale(0.9);
}

h1 {
    font-size: 20px;
    color: #f0f0f0ff;
    font-weight: 500;
    line-height: 10px;
}

.card-description {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    /* margin-top: -10px; */
}

.author {
    margin-top: -3px;
    font-size: 12px;
    color: #a0b0b0ff;
    font-weight: normal;
}

.preview {
    position: relative;
    width: 100%;
    box-shadow: 0 2px 2px #00000011;
    border-radius: 4px;
    border: 1px solid var(--button-border-color);
    background-color: var(--button-color);
    margin-bottom: 15px;
    display: none;
    aspect-ratio: 16 / 9;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.preview:hover {
    transform: scale(0.95);
}

.preview::before {
    content: 'Loading preview...';
    color: #a0b0b0ff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    font-size: 11px;
}

.preview.loaded::before {
    content: '';
}

.preview.active {
    display: block;
}

.description {
    margin: 0;
    margin-bottom: 15px;
}

a {
    font-size: 12px;
    font-weight: normal;
    color: #a0b0b0ff;
    text-decoration: solid;
    text-decoration-color: #a0b0b0ff;
    text-decoration-line: underline;
    cursor: pointer;
}

p {
    font-size: 13px;
    color: #f0f0f0ff;
    font-weight: normal;
}

button {
    width: 170px;
    max-width: 100%;
    height: 32px;
    margin: 3px 0;
    font-size: 12px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    padding: 0;
    line-height: 31px;
    box-shadow: 0 2px 2px #00000011;
    border-radius: 4px;
    border: 1px solid var(--button-border-color);
    background-color: var(--button-color);
}

button:not(.inactive):not(:has(.monitor-arrow:hover)):hover {
    background-color: var(--button-hover-color);
}

.monitor-arrow {
    box-sizing: content-box;
    display: none;
    border: 1px solid var(--button-border-color);
    background-color: var(--button-color);
    width: 25px;
    float: right;
    height: 100%;
    border-radius: 0 4px 4px 0;
    background-image: url('img/up-arrow.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40%;
    margin: -0.5px;
    opacity: 1;
    cursor: pointer;
}

.monitor-arrow.active {
    display: block;
}

.monitor-arrow:hover {
    background-color: var(--button-hover-color);
}

#monitor-selector {
    position: absolute;
    width: 200px;
    height: fit-content;
    box-shadow: 0 2px 4px #000000aa;
    left: 0;
    top: 0;
    border-radius: 4px;
    border: 1px solid var(--button-border-color);
    background-color: var(--button-color);
    overflow: hidden;
    display: none;
}

#monitor-selector.active {
    display: block;
}

.monitor-item {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    line-height: 35px;
    color: white;
    border-bottom: 1px solid var(--button-border-color);
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.monitor-item:hover {
    background-color: var(--button-hover-color);
    cursor: pointer;
}

.monitor-item:last-child {
    border: none;
}

.monitor-item.inactive {
    pointer-events: none;
    color: #808080;
    background-color: #21212180;
}

.unset {
    color: var(--accent);
}

.card-options {
    /* height: calc(100% - 120px); */
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 0;
    margin-right: -10px;
    padding-right: 10px;
    padding-top: 1px;
    overflow-x: hidden;
}

.card-remove {
    position: relative;
    left: 10px;
    height: 15px;
    cursor: pointer;
}

.upload-card .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px solid #b0b0b0ff;
    box-shadow: none;
    text-align: center;
    line-height: calc(var(--card-width)/248*150);
}

.upload-card p {
    color: #b0b0b0ff;
    margin: 0;
}

.upload-card img {
    height: 12px;
    margin-right: 10px;
}

.outline-button {
    outline: 1px solid var(--accent);
    background: transparent;
    color: var(--accent);
    border: none;
    margin-right: 100%;
}

#settings-scrollbox {
    display: block;
}

.settings-main {
    padding: 0 20px;
    padding-top: 15px;
    width: 98%;
    padding-right: calc(98% - 500px);
    overflow-x: hidden;
}

.settings-section {
    margin-top: -5px;
    margin-bottom: 20px;
    overflow-x: hidden;
}

.settings button {
    width: 200px;
}

.side-by-side {
    width: max-content;
    display: flex;
    gap: 10px;
    margin-top: -5px;
    margin-bottom: 10px;
}

.subheader {
    color: #606060ff;
    font-weight: normal;
    font-size: 16px;
}

.develop-metadata {
    background-color: #202020ff;
    border-radius: 10px;
    padding: 20px;
    height: 97%;
    width: 100%;
    overflow-y: auto;
    box-shadow: 0 0 5px #000000aa;
}

.settings-main>.subheader {
    line-height: 0;
    margin-bottom: 25px;
    margin-top: 25px;
}

hr {
    border-color: #000000aa;
}

.develop-metadata>.subheader {
    font-size: 13px;
}

.develop-metadata>.inputs {
    height: 85px;
}

label {
    float: left;
    font-size: 13px;
    font-weight: normal;
    width: max-content;
    margin-bottom: -6px;
}

input {
    float: left;
}

label>p {
    color: #f0f0f0ff;
    float: left;
    margin-top: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
}

.checkbox-input {
    height: 20px;
}

.checkbox-input>p {
    margin-left: 10px;
    width: auto;
}

.checkbox-input>input::after {
    display: block;
    position: relative;
    content: "";
    width: 16px;
    height: 16px;
    top: -2px;
    left: -2px;
    border-radius: 2px;
    border: 1px solid var(--button-border-color);
    background-color: var(--button-color);
    box-shadow: 0 2px 2px #00000011;
}

.checkbox-input>.checkmark {
    position: relative;
    display: block;
    margin-left: 5.5px;
    margin-top: 4px;
    width: 11px;
    height: 11px;
    border-radius: 1px;
    background-image: url("img/white-checkmark.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
}

.checkbox-input:hover>.checkmark {
    opacity: 0.2;
}

.checkbox-input:has(input[type="checkbox"]:checked)>.checkmark {
    opacity: 1;
}

.checkbox-input:hover:has(input[type="checkbox"]:checked)>.checkmark {
    opacity: 0.6;
}

.settings-description {
    margin-top: -5px;
    color: gray;
    margin-bottom: 20px;
}

.develop-metadata>button {
    width: 160px;
}

.secondary-button {
    background-color: var(--secondary-button-color);
}

.secondary-button:hover {
    background-color: var(--secondary-button-hover-color);
}

.develop-main {
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-10px);
    transition: transform var(--transition-speed) ease, opacity var(--transition-speed) ease;
}

#develop-intro>* {
    float: left;
    margin-bottom: 15px;
}

#develop-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: fit-content;
    pointer-events: inherit;
    opacity: 1;
    transition: transform var(--transition-speed) ease, opacity var(--transition-speed) ease;
}

#develop-intro>* {
    float: left;
    margin-bottom: 15px;
}

#develop-tab.developing .develop-main {
    opacity: 1;
    transform: none;
    pointer-events: inherit;
}

#develop-tab.developing #develop-intro {
    opacity: 0;
    transform: translate(-40%, -50%);
    pointer-events: none;
}

#develop-card-description {
    display: flex;
    flex-direction: column;
}

.card-edit {
    cursor: pointer;
    margin-left: 5px;
}

.card-options>label {
    margin-bottom: 12px;
}

.range-input>input {
    appearance: none;
    background-color: #404040ff;
    height: 5px;
    border-radius: 2.5px;
    width: 100%;
    margin-bottom: 10px;
}

.range-input>input::-webkit-slider-thumb {
    appearance: none;
    height: 15px;
    width: 15px;
    cursor: pointer;
    border-radius: 7.5px;
    border: 1px solid var(--button-border-color);
    background-color: var(--button-color);
    box-shadow: 0 2px 2px #00000011;
}

.range-input>p {
    margin: 0;
    margin-bottom: 5px;
}

/* .file-input>input {
    display: none;
}

.file-input>p {
    float: none;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 5px;
}

.file-input {
    width: var(--input-width);
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    margin-top: 5px;
    background-color: #404040ff;
    text-align: center;
    float: left;
    cursor: pointer;
} */

.file-input {
    display: flex;
    min-height: 25px;
    width: var(--input-width);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.file-input>input {
    display: none;
}

.file-input>p {
    margin: 0;
    --after-content: '';
}

.file-input>p::after {
    color: gray;
    margin-left: 15px;
    content: var(--after-content);
}

.file-input>.file-upload {
    display: block;
    width: 65px;
    height: 100%;
    border-radius: 2px;
    border: 1px solid var(--button-border-color);
    background-color: var(--button-color);
    box-shadow: 0 2px 2px #00000011;
    background-image: url('img/folder.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    opacity: 0.8;
    cursor: pointer;
}

.color-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--input-width);
    height: 25px;
}

.color-input>p,
.number-input>p {
    line-height: 0;
    height: 0;
    margin: 0;
    height: 25px;
    line-height: 25px;
}

.color-input>input {
    box-shadow: inset 0 0 0 4px #404040ff;
    border: 3px solid #404040ff;
    border-radius: 3px;
    cursor: pointer;
    height: 25px;
    width: 50px;
}

.color-input>input::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color-input>input::-webkit-color-swatch {
    border: none;
}

.number-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--input-width);
}

.number-input>input {
    width: 50px;
}

.number-input>input,
.text-input>input {
    height: 25px;
    border: 3px solid #404040ff;
    background-color: #404040ff;
    border-radius: 2px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 5px;
}

.text-input {
    height: 50px;
    width: 100%;
}

.text-input>p,
.select-input>p {
    line-height: 16px;
    margin-bottom: 4px;
}

.text-input>input {
    width: var(--input-width);
    margin-left: 1px;
}

.range-input {
    width: var(--input-width);
    position: relative;
}

.range-input>.range-value {
    position: absolute;
    right: 0;
    width: auto;
}

.description-input {
    width: var(--input-width);
    margin-bottom: 0 !important;
}

.select-input {
    width: var(--input-width);
}

.select-input>select {
    width: var(--input-width);
    height: 25px;
    border: 2px solid #404040ff;
    border-radius: 2px;
    cursor: pointer;
    background-color: #404040ff;
    color: #ffffffaa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none !important;
    padding: 0 3px;
}

.select-input>select, .text-input>input, .number-input>input {
    background: var(--light-body-color);
    border-radius: 4px;
    border: 1px var(--button-border-color) solid;
    font-size: 9pt;
    color: #a0b0b0ff;
}

.metadata-checkbox {
    height: 30px;
}

.layout {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #202020ff;
    /* border-radius: 10px; */
    height: 100%;
    flex: 1;
    float: left;
    border-radius: 10px;
    /* box-shadow: 0 0 5px #000000aa; */
}

.develop-back {
    height: 12px;
    cursor: pointer;
    margin-right: 15px;
}

.develop-tabs {
    width: 100%;
    height: 50px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px;
}

.develop-tab {
    color: gray;
    font-size: 11pt;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: border 0.2s ease, background-color 0.2s ease;
}

.develop-tab.active {
    background-color: var(--button-color);
    border: 1px solid var(--button-border-color);
    box-shadow: 0 2px 2px #00000011;
}

.develop-buttons {
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 8px;
    background-color: #2d2d2dff;
    align-items: center;
    justify-content: space-around;
    width: 125px;
    height: 45px;
    padding: 0 5px;
}

.develop-button {
    height: 18px;
    cursor: pointer;
}

.develop-content {
    position: relative;
    width: 100%;
    flex: 1;
}

.develop-tab-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(10px);
    pointer-events: none;
    opacity: 0;
    transition: opacity var(--transition-speed) ease, transform var(--transition-speed) ease;
}

#develop-tab.developing.active .develop-tab-content.active {
    pointer-events: inherit;
    opacity: 1;
    transform: translateY(0);
}

.develop-tab-content iframe {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 0 0 10px 10px;
}

#develop-editor {
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
}

.title {
    width: var(--input-width);
    margin: 6px 0;
    line-height: 30px;
    margin-top: -2px;
}

#modules-card-description {
    display: flex;
    flex-direction: column;
}

#modules-card-description.empty>.card-options {
    height: 0;
}

#modules-card-description.empty>#restore-preferences {
    display: none;
}

#modules-card-description.empty>.set-wallpaper {
    position: static !important;
    width: 100% !important;
}

#restore-preferences {
    width: max-content;
    margin-top: auto;
    margin-bottom: 5px;
}

.sidebar:has(.develop-metadata) {
    width: 230px;
}

.sidebar button {
    width: 100%;
}

.bottom-matter {
    width: 100%;
    height: auto;
}

#modal-container {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    display: flex;
    background-color: #000000aa;
    align-items: center;
    justify-content: center;
    z-index: 5;
    pointer-events: none;
    transition: opacity var(--transition-speed);
}

#modal-container.active {
    opacity: 1;
    pointer-events: inherit;
}

.modal {
    position: relative;
    width: 350px;
    height: auto;
    background-color: #1a1a1aff;
    border-radius: 4px;
    border: 1px solid var(--button-border-color);
    padding: 15px 20px;
    transform: translateY(25px);
    transition: transform var(--transition-speed);
}

#modal-container img {
    display: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#modal-container.preview-modal .modal {
    width: 60%;
    max-height: 80%;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: none;
}

#modal-container.preview-modal img {
    display: block;
}

#modal-container.preview-modal .modal-buttons {
    display: none;
}

#modal-container.preview-modal .modal-title {
    display: none;
}

#modal-container.preview-modal .modal-description {
    display: none;
}

#modal-container.active>.modal {
    transform: translateY(0);
}

.modal-buttons {
    display: flex;
    gap: 10px;
    float: left;
    width: 100%;
}

.modal-buttons>button {
    width: auto;
    flex: 1;
}

.modal-buttons>button.ok {
    background-color: #404040ff;
    box-shadow: 0 1px 0 #2c2c2cff;
}

.modal-buttons>button.ok:hover {
    background-color: #303030;
}

button.inactive {
    box-shadow: none;
    cursor: default;
    color: #808080;
    background-color: #21212180;
    border-color: #5b5b5b80
}

.button-icon {
    display: inline-block;
    vertical-align: middle;
    max-width: 20px;
    max-height: 20px;
    height: auto;
    width: auto;
    filter: brightness(10);
    opacity: 0.5;
    margin-right: 10px;
    margin-bottom: 3px;
}

.card-description.inactive {
    display: none;
}

#modal-container .modal-textbox {
    display: none;
    height: 25px;
    width: 100%;
    padding: 15px 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--button-border-color);
    background-color: var(--button-color);
    border-radius: 4px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#modal-container.textbox .modal-textbox {
    display: block;
}

#modal-container.textbox p {
    display: none;
}

input:focus {
    outline: 1px solid var(--button-border-color);
}

input[type="checkbox"]:focus {
    outline: none;
}

input[type="range"]:focus {
    outline: none;
}

#modules-empty,
#explore-empty {
    display: none;
    position: absolute;
    width: 250px;
    left: 50%;
    right: 50%;
    top: 50%;
    right: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity var(--transition-speed);
    z-index: 5;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    width: 200px;
}

#modules-tab:has(#modules-scrollbox:empty) #modules-empty,
#explore-tab:has(#explore-scrollbox:empty) #explore-empty {
    display: block;
    opacity: 0.5;
}

#modules-tab:has(#modules-scrollbox:empty) .sidebar,
#explore-tab:has(#modules-scrollbox:empty) .sidebar {
    display: none;
}

#modules-empty {
    transition: transform 0.1s ease;
}

#modules-empty:active {
    transform: translate(-50%, -50%) scale(0.95);
}

.develop-options-label {
    color: #a0b0b0ff;
    font-size: 9pt;
    margin-bottom: 15px;
}

#layout-console {
    position: absolute;
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 8px;
    background-color: #1a1a1aff;
    color: #ffffffc7;
    font-family: monospace;
    font-size: 11pt;
    padding: 50px 20px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: break-spaces;
    padding-bottom: 65px;
}

@media only screen and (min-width: 903px) {
    :root {
        --sidebar-width: 300px;
    }
}

.search {
    position: absolute;
    top: 12px;
    right: calc(var(--sidebar-width) + 20px);
    width: 150px;
    height: 30px;
    background: var(--light-body-color);
    border-radius: 4px;
    border: 1px var(--button-border-color) solid;
    opacity: 0;
    transform: translateY(0);
    transition: transform var(--transition-speed), opacity var(--transition-speed);
    pointer-events: none;
}

.search.active {
    opacity: 1;
    transform: none;
    pointer-events: all;
}

#search {
    width: calc(100% - 20px);
    height: 100%;
    outline: none !important;
    border: none;
    color: #a0b0b0ff;
    font-family: "Segoe UI", sans-serif;
    background-color: transparent;
    padding: 5px 7px;
}

.search-clear {
    position: absolute;
    color: #a0b0b0ff;
    right: 10px;
    line-height: 30px;
    cursor: pointer;
    font-size: 10pt;
}